.hero-outer{
    background-image: url('../../assets/man.jpg');
    background-size: cover;
}

.hero-main{
    display: flex;
    height: 80vh;
    position: relative;
}

.hero-main .title{
   
    position: absolute;
    left: 10%;
    top: 60%;
}

.hero-main h1{
    font-size: 44px;
    margin-bottom: 20px;
}

.hero-links{
    font-size: 20px;
    width: 120px;
    height: 80px;
    margin-right: 20px;
    text-decoration: none;
    background-color: greenyellow;
    padding: 10px;
    color: black;
}

.hero-links:hover{
    background-color: gray;
}

.hero-links:nth-child(2) {
  background-color: gray;
  color: white;
  }